[Desktop Entry]
Categories=Network;FileTransfer;
Encoding=UTF-8
Exec=crossftp -Dsun.java2d.uiScale=2.0 -Dawt.useSystemAAFontSettings=on
GenericName=CrossFTP FM
Icon=/usr/share/crossftp/logo_big.png
Name=CrossFTP
Terminal=false
Type=Application
Version=1.0
Comment=
Path=
StartupNotify=false
