#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=cxoffice-0
Categories=X-cxmenu-cxoffice-0-29ra4ke;
StartupNotify=true
StartupWMClass=crossover
Icon=cxmenu-cxoffice-0-crossover
Exec=/home/fergalm/cxoffice/bin/crossover %u
Name=CrossOver
Comment=Run Windows software with CrossOver
Name[hi]=क्रॉसओवर
Comment[fr]=Exécuter les applications Windows avec CrossOver
Comment[nl]=Windows programma's met CrossOver draaien
Comment[cs]=Spustit Windows software pomocí CrossOveru
Comment[zh_CN]=使用 CrossOver 运行 Windows 软件
Comment[pl]=Uruchamiaj oprogramowanie Windows za pomocą CrossOver
Comment[tr]=Windows yazılımını CrossOver ile çalıştır
Comment[zh_TW]=使用 CrossOver 運行 Windows 軟體
Comment[ja]=WindowsのソフトウェアをCrossOverで開く
Comment[de]=Windows Software mit CrossOver ausführen
Comment[pt]=Execute software para Windows com o CrossOver
Comment[hu]=Windows szoftver futtatása a CrossOver-alkalmazással
Comment[pt_BR]=Execute software para Windows com o CrossOver
Comment[it]=Esegui Sofware di Windows con CrossOver
Comment[es]=Ejecutar software de Windows con Crossover
