#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=cxoffice-9bc6b3c1-55e4-4fbb-b1b5-bf97560f0e94
Categories=X-cxmenu-cxoffice-9bc6b3c1-55e4-4fbb-b1b5-bf97560f0e94-0otoiks;
StartupNotify=true
Icon=cxmenu-cxoffice-9bc6b3c1-55e4-4fbb-b1b5-bf97560f0e94-B0C5_postbox.0
Exec="/home/fergalm/.cxoffice/PostBoxBottle/desktopdata/cxmenu/StartMenu.C^5E3A_ProgramData_Microsoft_Windows_Start^2BMenu/Programs/Postbox/Postbox.lnk" %u
Name=Postbox
