[Desktop Entry]
Name=Fleet 1.19.111 Public Preview
Exec="/home/fergalm/.local/share/JetBrains/Toolbox/apps/fleet/bin/Fleet" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/fergalm/.local/share/JetBrains/Toolbox/dotDesktopIcons/jetbrains-fleet.desktop.icon.png
Comment=The next-generation IDE by JetBrains
StartupWMClass=jetbrains-fleet
