[Desktop Entry]
Name=Android Studio
Icon=/home/fergalm/.local/share/JetBrains/Toolbox/apps/AndroidStudio/ch-0/.icon.svg
StartupWMClass=jetbrains-studio
Comment=An IDE for Android app development
Exec="/home/fergalm/.local/share/JetBrains/Toolbox/apps/AndroidStudio/ch-0/211.7628.21.2111.8309675/bin/studio.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true