[Desktop Entry]
Name=Rider 2023.2 EAP7
Exec="/home/fergalm/.local/share/JetBrains/Toolbox/apps/rider/bin/rider.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/fergalm/.local/share/JetBrains/Toolbox/apps/rider/bin/rider.svg
Comment=A cross-platform .NET IDE
StartupWMClass=jetbrains-rider
StartupNotify=true
