[Desktop Entry]
Name=PyCharm Professional
Icon=/home/fergalm/.local/share/JetBrains/Toolbox/apps/PyCharm-P/ch-0/.icon.svg
StartupWMClass=jetbrains-pycharm
Comment=The full-stack Python IDE
Exec="/home/fergalm/.local/share/JetBrains/Toolbox/apps/PyCharm-P/ch-0/221.5080.212/bin/pycharm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true