[Desktop Entry]
Name=PyCharm Professional 2023.2 EAP
Exec="/home/fergalm/.local/share/JetBrains/Toolbox/apps/pycharm-professional/bin/pycharm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/fergalm/.local/share/JetBrains/Toolbox/apps/pycharm-professional/bin/pycharm.svg
Comment=The full-stack Python IDE
StartupWMClass=jetbrains-pycharm
StartupNotify=true
