[Desktop Entry]
Name=DataGrip 2023.2 EAP
Exec="/home/fergalm/.local/share/JetBrains/Toolbox/apps/datagrip-2/bin/datagrip.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/fergalm/.local/share/JetBrains/Toolbox/apps/datagrip-2/bin/datagrip.svg
Comment=The IDE for databases and SQL
StartupWMClass=jetbrains-datagrip
StartupNotify=true
