[Desktop Entry]
Name=Space Desktop 2023.1.2
Exec="/home/fergalm/.local/share/JetBrains/Toolbox/apps/space-desktop/space" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/fergalm/.local/share/JetBrains/Toolbox/dotDesktopIcons/Space Desktop.desktop.icon.svg
Comment=A complete software development platform
StartupWMClass=jetbrains-ide
